@model System.Security.Claims.ClaimsPrincipal

<div class="jumbotron">
    <h1>List Claims</h1>
    <p class="lead">ListClaims lists the claims it receives from the relying party trust</p>
    <p><a href="http://go.microsoft.com/fwlink/?LinkID=320755" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
  @Html.DisplayForModel(Model)
</div>